{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Учёба, учёба и ещё раз учёба
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Немного об учёбе</h1>
    <p class="lead">Поговорим об учёбе.</p>
    <img src="{% static '/images/panda-learn.jpg' %}" class="img-rounded">
</div>

<div class="row marketing">
    <div class="col-lg-6">
        {% for i in edu %}
        <h4>{{ i.name }}</h4>
        <p>{{ i.value }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}