{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Учёба, учёба и ещё раз учёба
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Немного об учёбе</h1>
    <p class="lead">Поговорим об учёбе.</p>
    <!--<img src="{% static '/images/panda-learn.jpg' %}" class="img-rounded">-->
</div>

<div class="row marketing">
        <table class="table table-striped table-bordered">
        <thead>
            <tr>
                 <th>Наименование учреждения</th>
                 <th>Период учёбы</th>
                <th>Учёная степень</th>
            </tr>
        </thead>
        {% for edu in edu %}
        <tr>
            <td>{{ edu.organization }}</td>
            <td>{{ edu.learn_time }}</td>
            <td>{{ edu.profession }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}