{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Немного обо мне
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Немного обо мне</h1>
    <p class="lead">Рад Вас приветствовать на моём первом сайте работающем на фреймворке Django.</p>
    <!--<img src="{% static '/images/panda.gif' %}" class="img-rounded">-->
</div>
<div class="row marketing">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Специальность</th>
            <th>Место рождения</th>
            <th>Хобби</th>
        </tr>
        </thead>
        {% for i in aboutme %}
        <tr>
            <td>{{ i.fio }}</td>
            <td>{{ i.birthday }}</td>
            <td>{{ i.profession }}</td>
            <td>{{ i.born_place }}</td>
            <td>{{ i.hobby }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}