{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Труд делает из обезьяны человека
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Немного о работе</h1>
    <p class="lead">Поговорим о жизненном опыте.</p>
    <!--<img src="{% static '/images/panda-work.jpg' %}" class="img-circle">-->
</div>
<div class="row marketing">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                 <th>Организация</th>
                 <th>Регион</th>
                <th>Должность</th>
            </tr>
        </thead>
        {% for work in workplaces %}
        <tr>
            <td>{{ work.organization }}</td>
            <td>{{ work.region }}</td>
            <td>{{ work.position }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}